
matplotlib==3.9.4
matplotlib-inline

numba==0.60.0
numpy

roifile==2024.9.15


scikit-learn==1.6.1
scipy==1.13.1
seaborn==0.13.2

threadpoolctl
tifffile

tqdm==4.67.1


Flask
opencv-python
numpy
matplotlib
scikit-image
cellpose
gunicorn
